nbproject
build
dist
*.pyc
*.DS_Store
build.xml
manifest.mf
src.rar
Debug
ipch
MandraCannon.sdf
MandraCannon.sln
MandraCannon/Debug
MandraCannon/MandraCannon.vcxproj
MandraCannon/MandraCannon.vcxproj.filters
MandraCannon/MandraCannon.vcxproj.user
MandraCannon.suo
MandraCannon.opensdf
a/MandraCannon.suo
b/MandraCannon.suo
MandraCannon/MandraCannon.suo